.border-contain{
  border: 3px solid black;
  
}

.border-row{
  border: px solid red;

}

.border-col{
  border: 2px solid green;

}


















/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}





/*--------------------------------------------------------------------------------------------------------*/
/***********************      Disable aos animation delay on mobile devices    **************************/
/*--------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/* End aos disable */


/*--------------------------------------------------------------------------------------------------------*/
/**********************************************   general   ********************************************/
/*--------------------------------------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
}



h4 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

li{
  font-family: 'Rubik', sans-serif;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h4 {
    font-size: 3.8rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}
/* End general */


/*--------------------------------------------------------------------------------------------------------*/
/**********************************************   header   ********************************************/
/*--------------------------------------------------------------------------------------------------------*/

/* new */
#header-section{
  background-color:#ffffff;
}

#header-section .navbar-brand{
  color: #7a12d4;
  font-size: 30px;
  font-weight: 500;
}

#header-section a{
  color: #303030;
  font-size: 16px;
margin: 8px;
font-weight: 500;
}

#header-section a:hover{
  color: #7a12d4;

}

nav .nav-btn{
border-radius: 50px;
color: #303030;
font-size: 16px;
font-weight: 500;
padding:5px 20px ;
border-color: #7a12d4;
}

nav .nav-btn:hover{
background-color: rgba(122, 18, 212,0.1);
color: #303030;
border-color: #303030;
}

nav .fa-globe{
  font-size: 25px;
}


/* new */







/*--------------------------------------------------------------------------------------------------------*/
/**********************************************   banner   ********************************************/
/*--------------------------------------------------------------------------------------------------------*/

/* new */

#Banner-section{
  background: url(../assets/images/banner.bg.jpg);
  background-position: center center;
  background-size: cover;
}

#Banner-section h1{
line-height: 4.3rem;
}

#Banner-section p{
font-size: 1.5rem;
line-height: 1.7rem;
}

#Banner-section .banner-btn{
  background: #ffffff;
  border-radius: 50px;
  padding: 10px 30px;
  color: #7a12d4;
font-size: 1.1rem;
  font-weight: 700;

}

#Banner-section .banner-btn:hover{
background-color: #e9e6e6;
}

/* new */




/*--------------------------------------------------------------------------------------------------------*/
/**********************************************  Sponsers Section   ********************************************/
/*--------------------------------------------------------------------------------------------------------*/

#sponsers-section{
  background-color: #7a12d4;
}
#sponsers-section .row{
  height: 60px;
}

#sponsers-section img{
  height: 30px;
}


/*--------------------------------------------------------------------------------------------------------*/
/**********************************************  Stories Section   ********************************************/
/*--------------------------------------------------------------------------------------------------------*/


#stories-section{
  background: #e9e6e6;
}
#stories-section .row{
  height: 270px;
}


#stories-section h3{
  color: #7a12d4;
}

#stories-section p{
  font-size: 1.9rem;
}

#stories-section .stories-btn{
  background: linear-gradient(#9251d0, #7a12d4);
  border-radius: 50px;
  padding: 10px 30px;
  color: #ffffff;
font-size: 1.1rem;
  font-weight: 700;

}

#stories-section .stories-btn:hover{
  background: linear-gradient(#7a12d4, #7a12d4);
}



/*--------------------------------------------------------------------------------------------------------*/
/**********************************************  slider section 1   ********************************************/
/*--------------------------------------------------------------------------------------------------------*/

#slider-1 .img-slide{
border-radius: 10px;
height: 600px;
width: 100%;
}


#slider-1 .swiper-slide{
  height: 600px;
}

#slider-1 .swiper-btn{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #7a12d4;
  font-weight: 1000;
}

#slider-1 .swiper-btn:hover{
 
  background-color: #7a12d4;
  color: #ffffff;
  border: 2px double #7a12d4;
  
}



/*--------------------------------------------------------------------------------------------------------*/
/********************************************** testimonials  ********************************************/
/*--------------------------------------------------------------------------------------------------------*/



#testimnials .dots{
  color: #7a12d4;
  

}






/*--------------------------------------------------------------------------------------------------------*/
/********************************************** Learn section  ********************************************/
/*--------------------------------------------------------------------------------------------------------*/



#learn-section .number-box{
  width: 25px;
  height: 25px;
  line-height: 23px;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  background: cadetblue;
  font-weight: 500;
  display: inline-block;
}
#learn-section .number-box-text{
color: cadetblue;
}
#learn-section .hr-line{
  width: 65px;
  height: 4px;
  background-color:cadetblue;

}

#learn-section .row-2 img{
  border-radius: 5px;
}

#learn-section .row-2 p{
  font-size: 0.8rem;
}





/*--------------------------------------------------------------------------------------------------------*/
/********************************************** connect section  ********************************************/
/*--------------------------------------------------------------------------------------------------------*/



#connect-section .number-box{
  width: 25px;
  height: 25px;
  line-height: 23px;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  background: rgb(8, 69, 254);
  font-weight: 500;
  display: inline-block;
}
#connect-section .number-box-text{
color: rgb(8, 69, 254);
}
#connect-section .hr-line{
  width: 65px;
  height: 4px;
  background-color:rgb(8, 69, 254);

}

#connect-section .row-2 img{
  border-radius: 5px;
}

#connect-section .row-2 p{
  font-size: 0.8rem;
}


/*--------------------------------------------------------------------------------------------------------*/
/********************************************** transform section  ********************************************/
/*--------------------------------------------------------------------------------------------------------*/



#transform-section .number-box{
  width: 25px;
  height: 25px;
  line-height: 23px;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  background: #7a12d4;
  font-weight: 500;
  display: inline-block;
}
#transform-section .number-box-text{
color: #7a12d4;
}
#transform-section .hr-line{
  width: 65px;
  height: 4px;
  background-color:#7a12d4;

}

#transform-section .row-2 img{
  border-radius: 5px;
}

#transform-section .row-2 p{
  font-size: 0.8rem;
}